{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Produto</title>
    {% bootstrap_css %}
</head>
    <style>
        .active {
            font-weight: bold;
            color: black !important;
        }
    </style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Minha Loja</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'produto' %}active{% endif %}" href="{% url 'produto' %}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'venda' %}active{% endif %}" href="{% url 'venda' %}">Vendas</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Produto</h1>
        {% bootstrap_messages %}

        <form action="{% url 'produto' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            {% endbuttons %}
        </form>
            <a href="{% url 'index' %}" class="btn btn-primary">Voltar</a>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>