{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vendas</title>
    {% bootstrap_css %}
</head>
    <style>
        .active {
            font-weight: bold;
            color: black !important;
        }
    </style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Minha Loja</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'produto' %}active{% endif %}" href="{% url 'produto' %}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'venda' %}active{% endif %}" href="{% url 'venda' %}">Vendas</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>Vendas</h1>

    <!-- Exibir a tabela HTML gerada pelo pandas -->
    {{ tabela_html|safe }}
    <div>
        <a href="{% url 'criar_venda' %}" class="btn btn-dark">Vender</a>
        <a href="{% url 'index' %}" class="btn btn-primary">Voltar</a>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>